<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
    <clear />
    <add name="CMSConnectionString" connectionString="Data Source=DC9BLRQ93;Initial Catalog=medioClinic;Integrated Security=True;Persist Security Info=False;Connect Timeout=60;Encrypt=False;Current Language=English;" />
</connectionStrings>